@{
        ViewBag.Title = "MediScan Home";
}

<main>
    <section class="row" aria-labelledby="mediScanTitle">
        <h1 id="title">MediScan</h1>
        <p class="lead">MediScan is a leading Medical Imaging Service in Melbourne, offering state-of-the-art imaging services to our users.</p>
        <p><a href="/About" class="btn btn-primary btn-md">Learn more about us &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="servicesTitle">
            <h2 id="servicesTitle">Our Services</h2>
            <p>
                From CT scans to MRIs, we offer a wide range of imaging services to cater to our patients' needs. Experience precision with MediScan.
            </p>
            <p><a class="btn btn-outline-dark" href="/Services">View Services &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="bookingTitle">
            <h2 id="bookingTitle">Book an Appointment</h2>
            <p>Booking an appointment is now easier than ever. Choose your preferred date, time, and service, and we'll handle the rest.</p>
            <p><a class="btn btn-outline-dark" href="/Booking">Book Now &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="contactTitle">
            <h2 id="contactTitle">Contact Us</h2>
            <p>Have questions or need assistance? Reach out to our dedicated team, and we'll be happy to help.</p>
            <p><a class="btn btn-outline-dark" href="/Contact">Get in Touch &raquo;</a></p>
        </section>
    </div>
</main>
