@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">medibook system</h1>
        
    </section>

    <div class="row">
        <section class="row">
            <div class="col-md-6">
                <h2>List of Doctors</h2>
                <p>Check out our team of doctors and choose the right one.</p>
                <p><a class="btn btn-primary btn-lg" href="@Url.Action("index", "Doctors")">View Doctors &raquo;</a></p>
            </div>
            <div class="col-md-6">
                <h2>Appointment Service</h2>
                <p>Make an appointment with the doctor of your choice for medical care.</p>
                <p><a class="btn btn-primary btn-lg" href="@Url.Action("Create", "Appointment")">Make an Appointment Now &raquo;</a></p>
            </div>
        </section>
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h1 id="welcomeTitle">Welcome to medibook Medical Appointment System</h1>
            <p>
                We offer convenient doctor's appointments for your health.
            </p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </section>
       
    </div>
</main>